@model IEnumerable<RemoteProbe>

@{
    ViewData["Title"] = "Measuring Probes";
}
<div class="jumbotron">
    <h2>@ViewData["Title"]</h2>
</div>


<a asp-action="Create">
    <i class="fa fa-plus text-success" aria-hidden="true"></i> Create New
</a>
<br />

<br />

<table class="table table-bordered">
    <thead class="thead-light">
        <tr>
            <th>
                Remote Address
            </th>
            <th>
                Location
            </th>
            <th>
                Measurement Type
            </th>
            <th>
                < LCL Command
            </th>
            <th>
                > UCL Command
            </th>
            <th class="text-center">
                Active?
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (RemoteProbe remoteProbe in Model)
        {
            <tr>
                <td>
                    @remoteProbe.RemoteProbeAddress
                </td>
                <td>
                    @remoteProbe.LocationName
                </td>
                <td>
                    @remoteProbe.MeasurementTypeName
                </td>
                <td>
                    @remoteProbe.LtLCLCommand
                </td>
                <td>
                    @remoteProbe.GtUCLCommand
                </td>
                @if (remoteProbe.IsActive)
                {
                    <td class="text-center"><span class="fa fa-check text-success"></span></td>

                }
                else
                {
                    <td class="text-center"></td>
                }

                <td class="text-center">
                    <a asp-action="Edit" asp-route-id="@remoteProbe.ID">
                        <i class="center fa fa-lg fa-pencil text-primary" aria-hidden="true"></i>
                    </a> &nbsp;
                    <a asp-action="Delete" asp-route-id="@remoteProbe.ID">
                        <i class="center fa fa-lg fa-x text-danger" aria-hidden="true"></i>
                    </a>


                </td>
            </tr>
        }
    </tbody>
</table>
