@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model YARG.Models.HomeViewModel
@{
    ViewData["Title"] = "System Dashboard";
}

<!DOCTYPE html>
<script src="~/lib/plotly/plotly-strict.min.js"></script>
<script src="~/js/refresh.js"></script>
<script src="~/js/tooltip.js"></script>
<script src="~/js/weather.js"></script>
<link rel="stylesheet" href="~/css/styles.css" integrity="u46TemxTcJeytwyZrU6M3Jc8UoRlX4wUtLT53Hxny64KqQiLbdpBS6Ni50tzilmJ" />

<html>
<body>
    <div class="row">
        <div class="col-3">
            <div class="card-header">
                <small><strong>@localizer["Stats"]</strong></small>
            </div>
            <div class="card">
                <div class="card-text">
                    <div class="container">
                        <div class="row" style="padding-top:10px;">
                            <div class="col d-flex align-items-center justify-content-center">
                                <small>@localizer["Sunrise"]</small>
                            </div>
                            <div class="col d-flex align-items-center justify-content-center">
                                <small>
                                    @Html.DisplayFor(model => model.Sunrise)
                                </small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col d-flex align-items-center justify-content-center">
                                <small>@localizer["Sunset"]</small>
                            </div>
                            <div class="col d-flex align-items-center justify-content-center">
                                <small>
                                    @Html.DisplayFor(model => model.Sunset)
                                </small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col d-flex align-items-center justify-content-center">
                                <small>@localizer["Crop"]</small>
                            </div>
                            <div class="col d-flex align-items-center justify-content-center">
                                <small>
                                    @Html.DisplayFor(model => model.CropName)
                                </small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col d-flex align-items-center justify-content-center">
                                <small>@localizer["Recipe"]</small>
                            </div>
                            <div class="col d-flex align-items-center justify-content-center">
                                <small>
                                    @Html.DisplayFor(model => model.RecipeName)
                                </small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col d-flex align-items-center justify-content-center">
                                <small>@localizer["Start Date"]</small>
                            </div>
                            <div class="col d-flex align-items-center justify-content-center">
                                <small>
                                    @Html.DisplayFor(model => model.StartDate)
                                </small>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col d-flex align-items-center justify-content-center">
                                <small>@localizer["Daylight"]</small>
                            </div>
                            <div class="col d-flex align-items-center justify-content-center">
                                <small>
                                    @Html.DisplayFor(model => model.DaylightHours) hours
                                </small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col d-flex align-items-center justify-content-center">
                                <small>@localizer["Soak / Day"]</small>
                            </div>
                            <div class="col d-flex align-items-center justify-content-center">
                                <small>
                                    @Html.DisplayFor(model => model.FertEvents)
                                </small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col d-flex align-items-center justify-content-center">
                                <small>@localizer["Minutes / Soak"]</small>
                            </div>
                            <div class="col d-flex align-items-center justify-content-center">
                                <small>
                                    @Html.DisplayFor(model => model.MinsPerFert)
                                </small>
                            </div>
                        </div>
                        <br />
                    </div>
                </div>
            </div>
        </div>

        <div class="col-2">
            <div class="card-header">
                <small><strong>@localizer["Grow Room"]</strong></small>
            </div>
            <div class="card">
                <div class="card-text">
                    <div class="container">
                        <div class="row" style="padding-top:10px;">
                            <div class="col-4 d-flex align-items-center justify-content-center">
                                <i class="fa-solid weather-icon" data-weather="@Model.WeatherText"></i>
                            </div>
                            <div class="col-8 d-flex align-items-center justify-content-center">
                                <small>
                                    @localizer[Model.WeatherText]
                                </small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 d-flex align-items-center justify-content-center">
                                <i class="fa-solid fa-temperature-half text-info"
                                   data-toggle="modal" data-target="#habTempHistModal"></i>
                            </div>
                            <div class="col-8 d-flex align-items-center justify-content-center">
                                <small>
                                    @Model.GrowRoomTemp&deg;
                                </small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 d-flex align-items-center justify-content-center">
                                <i class="fa-solid fa-droplet text-primary"
                                   data-toggle="modal"
                                   data-target="#habHumidHistModal"
                                   title="Click for history"></i>
                            </div>
                            <div class="col-8 d-flex align-items-center justify-content-center">
                                <small>
                                    @Model.GrowRoomHumidity%
                                </small>
                            </div>
                        </div>

                    </div>
                </div>
                <br />
            </div>
            <div class="card-header">
                <small><strong>@localizer["ReservoirConditions"]</strong></small>
            </div>
            <div class="card">
                <div class="card-text">
                    <div class="container">
                        <div class="row" style="padding-top:10px;">
                            <div class="col-4 d-flex align-items-center justify-content-center">
                                <i class="fa-solid fa-weight-scale text-dark"></i>
                            </div>
                            <div class="col-8 d-flex align-items-center justify-content-center">
                                <small>
                                    @Model.ReservoirVolume L
                                </small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 d-flex align-items-center justify-content-center">
                                <i class="fa-solid fa-temperature-half text-info"></i>
                            </div>
                            <div class="col-8 d-flex align-items-center justify-content-center">
                                <small>
                                    @Model.ReservoirTemp&deg;
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
            </div>

        </div>

        <div class="col-7">
            <div class="card-header">
                <small><strong>@localizer["Probes"]</strong></small>
            </div>

            <div class="card">
                <div class="card-text">
                    <div class="row">
                        <div class="container">
                            <div id="phDiv"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card-header">
                <small><strong>@localizer["Irrigation Schedule"]</strong></small>
            </div>
            <div class="card">
                <div class="card-body">
                    <p class="card-text">
                        <div id="fertigation-container"
                             data-ws='@Html.Raw(Json.Serialize(Model.WateringSchedules))'
                             data-pots='@Html.Raw(Json.Serialize(Model.Pots))'
                             data-potCount='@Html.Raw(Json.Serialize(Model.PotCount))'
                             data-sunrise='@Html.Raw(Json.Serialize(Model.Sunrise))'
                             data-sunset='@Html.Raw(Json.Serialize(Model.Sunset))'
                             data-flgMorning='@Html.Raw(Json.Serialize(Model.FlgMorningDrink))'
                             data-flgEvening='@Html.Raw(Json.Serialize(Model.FlgEveningDrink))'
                             data-localizer_Reservoir='@localizer["Reservoir"]'
                             data-localizer_Sunset='@localizer["Sunset"]'
                             data-localizer_Sunrise='@localizer["Sunrise"]'
                             data-localizer_Now='@localizer["Now"]'
                             data-localizer_tickformat='@localizer["tickformat"]'>
                        </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br />
    <script src="~/lib/moment.js/moment.js"></script>
    <script src="~/js/fertigations.js"></script>

    <script src="~/js/atlas.js"></script>
    <div class="modal fade" id="habTempHistModal" tabindex="-1" role="dialog" aria-labelledby="habTempHistLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="exampleModalLabel"><i class="fa-solid fa-temperature-half text-info"></i>Habitat Temperature History</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="HabTempHistPlot"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="habHumidHistModal" tabindex="-1" role="dialog" aria-labelledby="habHumidHistLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="exampleModalLabel"><i class="fa-solid fa-droplet text-primary"></i>Habitat Humidity History</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="HabHumidHistPlot"></div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/js/habtemphistplot.js"></script>
    <script src="~/js/habhumidhistplot.js"></script>
</body>
</html>


